body {
  background-color: #27292b;
  font-family: "Noto Serif JP", serif;
  color: white;
}

.Search {
  border: 1px solid;
  max-width: 400px;
  margin: 30px auto 0 auto;
  background: 0, 0, 0;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 30%,
      rgba(130, 130, 130, 0.6001751042213761) 32%,
      rgba(255, 255, 255, 0) 72%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("waves.png");
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 0px 3px rgba(128, 128, 128, 0.301),
    -2px 0px 3px rgba(128, 128, 128, 0.301);
  padding: 20px 30px 10px 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
}

.Search .btn-primary.mb-2:hover {
  background-color: white;
  transition: 0.22s ease;
}

.Search .btn-primary.mb-2 {
  background-color: rgba(128, 128, 128, 0.349);
  border: 0.5px solid white;
  border-radius: 50%;
  padding: 0.2rem 0.45rem;
}

.Search i:hover {
  color: black;
}

i:hover {
  color: black;
}
