.WeatherToday {
  margin-bottom: 32px;
  color: rgb(70, 70, 70);
}

.WeatherToday h1 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 5px;
  line-height: 24px;
  letter-spacing: 2px;
}

.WeatherToday h2 {
  font-size: 18px;
  margin-bottom: 14px;
  margin-top: 14px;
}

.WeatherToday li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.WeatherToday p {
  font-size: 15px;
}

.WeatherUnits .celsius-link {
  font-weight: 900;
  text-decoration: none;
  color: white;
}

.WeatherUnits .fahrenheit-link {
  font-size: 17px;
  font-weight: 300px;
  margin-left: -3px;
  padding: -6px;
  color: rgb(1, 65, 33);
  text-decoration: none;
}

.WeatherUnits #activeC,
.WeatherUnits #activeF {
  color: white;
  cursor: default;
  font-weight: bold;
}

.WeatherUnits #activeF:hover {
  color: pink;
  cursor: pointer;
}

.WeatherUnits #activeC:hover {
  color: pink;
  cursor: pointer;
}

.WeatherUnits #notactive {
  font-weight: normal;
}

.WeatherUnits {
  font-size: 40px;
}

.WeatherToday .weatherMain {
  margin-bottom: 5px;
}
